doctype html  
html(lang='en')  
    head
        title Yandex API Project
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        //- link(rel='stylesheet', href='./style.css', type='text/css' )
        style(type='text/css').
            body{
                position: relative;
                height: 100%; 
                overflow: hidden;
                margin: 0;
                padding: 0;
            }
            div#map {
                width: 100%;
                height: 100vh;
            }
    body
        .map_container#map
            //- #myModal.modal
            //-     .modal__header
            //-         #modalAdress
            //-         span.modal__close
            //-     .modal__inner
            //-         .modal__title
            //-             | Ваш отзыв
            //-         input(type="text" placeholder="Ваше имя").modal__input
            //-         input(type="text" placeholder="Укажите место").modal__input
            //-         textarea(placeholder="Поделитесь впечатлениями").modal__textarea
            //-         .modal__button-wrapper
            //-             button.modal__button Добавить